description "Gunicorn application server handling LearningDjango project"


start on runlevel [2345]
stop on runlevel [!2345]

respawn
setuid {{ gunicorn_user }}
setgid {{ gunicorn_group }}
chdir {{ gunicorn_project_dir }}

exec {{ gunicorn_virtualenv }} --workers 3 --log-file {{ gunicorn_log }} --bind 0.0.0.0:8000 apps.wsgi:application

