server {
    listen 80;
    server_name {{ nginx_domain_name }};

    access_log   {{ nginx_access_log }};
    error_log    {{ nginx_error_log }};

    location = /favicon.ico { access_log off; log_not_found off; }

    location /static/ {
        alias {{ nginx_static }};
    }

    location /media/ {
        alias {{ nginx_media }};
    }

    location / {
        proxy_pass http://127.0.0.1:8000;
        proxy_set_header X-Forwarded-Host $server_name;
        proxy_set_header X-Real-IP $remote_addr;
        add_header P3P 'CP="ALL DSP COR PSAa PSDa OUR NOR ONL UNI COM NAV"';
    }
}
